<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body id="loginPage">

    <div class="login-container">
        <h2>Welcome Back</h2>
        <form action="/user/login" method="POST">
            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" class="login-btn">Login</button>
        </form>

        <div class="extra-links">
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>

</body>

</html>